@page "/testcomponent"

<PageTitle>Test Component</PageTitle>

<h1>Test Component</h1>

<table>
    @foreach (var item in items)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>

<button class="btn btn-primary" @onclick="AddItem">Add Item</button>

@code{

    private List<string> items = new List<string>();
    
    private void AddItem()
    {
        items.Add("Item " + items.Count);
    }
}